<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho('Lista de Usuários')}" />

  <body>
	  
	<div th:replace="~{fragmentos :: form-logout}" />
	
	<div th:replace="~{fragmentos :: idioma(${uri})}" />
	
    <div class="container">
		
		<div style="display: flex; align-items: center;">
			<b><h1> 
				<span th:text="#{saudacao}">Olá,</span> 
				<span th:text="${usuario.nome}">X</span>!
			</h1></b>
		</div>
		
        <div class="row">
            <h2 th:text="#{lista_usuarios}">Lista de Usuários</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
							<th scope="col">ID</th>
                            <th scope="col" th:text="#{usuario.nome}">Nome</th>
                            <th scope="col" th:text="#{usuario.cargo}">Cargo</th>
                            <th scope="col" th:text="#{usuario.setor.descricao}">Setor</th>
							<th scope="col">#</th>
							<th scope="col">#</th>
							<th scope="col">#</th>
                        </tr>
                      </thead>
                    <tbody>
                        <tr th:each="usuario : ${usuarios}">
							  <th class="col-2" scope="row" th:text="${usuario.id}">A</th>
				              <th class="col-2" th:text="${usuario.nome}">A</th>
				              <td class="col-2" th:text="${usuario.cargo}">B</td>
							  <td class="col-2" th:text="${usuario.setor.descricao}">C</td>

				              
				              <td class="col-2"><a th:href="@{/usuario/detalhes/{idUsuario}(idUsuario= ${usuario.id})}" th:text="#{detalhes}">Detalhes</a></td>
				              <td class="col-2"><a th:href="@{/usuario/editar/{idUsuario}(idUsuario = ${usuario.id})}" th:text="#{editar}">Editar</a></td>
				              <td class="col-2"><a th:href="@{/usuario/remover/{idUsuario}(idUsuario = ${usuario.id})}" th:text="#{remover}">Remover</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <a href="/usuario/novo" th:text="#{cadastrar_usuario}">Cadastrar Usuário</a>
			<a href="/index" th:text="#{voltar_index}">Voltar a tela inicial</a>
        </div>
    </div>
    
    <script th:replace="~{fragmentos :: script-js}" />

    </body>
</html>